.navbar {

    position: relative;
  
    min-height: 60px;
  
    margin-bottom: 0px;
  
    border: 1px solid transparent;
  
    background: #fff;
  
    box-shadow: -1px 6px 10px #ccc6c6;
  
  }
  
  
  
  .navbar-toggle {
  
    background-color: green;
  
  }
  
  
  
  .navbar-default .navbar-toggle {
  
    border-color:transparent;
  
  }
  
  
  
  .navbar-default .navbar-toggle .icon-bar {
  
    background-color: #fff;
  
  }
  
  
  
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  
    color: #ffd;
  
    background-color: green;
  
  }
  
  
  
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  
    background-color: red;
  
  }
  
  
  
  img.logo {
  
    width: 55px;
  
  }
  
  
  
  .navbar-brand {
  
    padding: 0 15px;
  
  }
  
  
  
  .googlemap {
  
    width: 100%;
  
  }
  
  
  
  @media (min-width: 768px) {
  
  .navbar-nav>li>a {
  
      padding-top: 20px;
  
      padding-bottom: 20px;
  
  }
  
  }
  
  
  
  @media (max-width: 767px){
  
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  
      color: red;
  
  }
}