<header>
    <div class="nav_container">
        <nav class="nav_checkbox">
            <a href="#" class="logo">
                <img src="assets/images/logo5.jpg" class="main-logo">
            </a>

           

            <input type="checkbox" id="tab-nav" class="tab-nav">
            <label for="tab-nav" class="label">
                <div class="burger"></div>
                <div class="burger"></div>
                <div class="burger"></div>
            </label>
            <ul class="content_nav">
                <li><a routerLink="/Home" >&nbsp;HOME</a></li>
                <li><a routerLink="/Service" >&nbsp;SERVICES</a></li>
                <li><a routerLink="/Whychooseus" >&nbsp;WHYCHOOSEUS</a></li>
                <li><a routerLink="/Booknow" >&nbsp;BOOKNOW</a></li>
                <li><a (click) = "tracking()" *ngIf="loginstatus" >&nbsp;TRACKING</a></li>
                <li><a routerLink="/Contactus" >&nbsp;CONTACTUS</a></li>
                <li><a  (click) = "profile()" *ngIf="loginstatus">&nbsp;PROFILE</a></li>
                <li><a routerLink="/Login" *ngIf="!loginstatus">&nbsp;LOGIN</a></li>
                <li><a (click)="logout()" *ngIf="loginstatus" >&nbsp;LOGOUT</a></li>
            </ul>
        </nav>
    </div>
