.Heading .title{
	position:relative;
    top:70px;
	text-align:center;
	font-size:30px;
	font-weight:500;
	margin-bottom:60px;
	padding-bottom:20px;
	font-family:sans-serif;
}
.Heading .title::before{
	content:"";
	position:absolute;
	bottom:0px;
	left:50%;
	width:200px;
	height:3px;
	background:skyblue;
	transform:translateX(-50%);
}


#sec1 {
    border: 1px solid;
    border-radius: 10px;
    width: 600px;
    padding: 15px;
    margin-top: 7%;
    
    margin-left: 350px;
    margin-right: 350px;
    /*margin-left: 220px;*/
  
    text-align: center;
    background-color: #d1dde6;
  }
  #sec2 {
    border: 1px solid;
    border-radius: 10px;
    width: 600px;
    padding: 20px;
    justify-content: space-evenly;
    display: flex;
    background-color: #d1dde6;
    text-decoration: none;
    margin-left: 350px;
    margin-right: 350px;;
    /*margin-left: 220px;*/
  }
  #sec2 ul {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-size: 15px;
  }
  
  #sec2 ul li {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    font-size: 15px;
  }
  #par {
    color: #039;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
  
    font-weight: bold;
    text-indent: 40px;
    text-align: center;
  }
  
  #sec3 {
    border: 1px solid;
    border-radius: 10px;
    width: 600px;
    padding: 20px;
    height: 180px;
    
    margin-left: 350px;
    margin-right: 350px;
    /*margin-left: 220px;*/
  
    justify-content: space-between;
    display: flex;
    background-color: #d1dde6;
  }
  
  #sec3 ul li img {
    width: 50px;
    height: 50px;
  }
  
  #sec3 ul {
    display: flex;
    text-align: center;
  }
  
  #sec3 ul li {
    display: flex;
    width: 200px;
  }
  #sec3 ul li p {
    margin-left: 5%;
  }
  #imgg {
    left: 100%;
  }
  
  #box3 {
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 500px;
    box-sizing: border-box;
  
    width: 300px;
    height: 360px;
    padding: 12px;
  
    text-align: center;
    background-color: #20b2aa;
  }
  #box3 h4 {
    color: #ffffff;
    text-decoration: underline;
  }
  #box3 label {
    color: #ffffff;
    text-align: right;
  }
  #feed {
    display: inline-block;
    position: relative;
    left: -30%;
    /* margin-left: 20%;*/
    right: 30%;
    top: -20%;
    width: 300px;
    height: 500px;
    margin-left: 600px;
    /*margin-right: 450px;*/
    padding: 25px 100px;
  }
  
  #box3 input {
    margin-bottom: 20px;
    width: 100%;
  }
  #box3 input[type='text'],
  input[type='area'] {
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    height: 30px;
    color: #ffffff;
    display: 16px;
  }
  ::placeholder {
    color: #ffffff;
    font-size: medium;
  }
  
  #box3 a {
    text-decoration: none;
    padding: 0.2em 1em;
    background-color: lightblue;
    font-size: 1em;
    color: slateblue;
  }
  #box3 a:hover {
    background-color: #778899;
  }