<body>
    <section class="bgc">
        <div class="Heading">
            <h1 class="title">ADDRESS AND PACKAGE</h1>
        </div>
        <div id="booking_img">
            <div class="icard">

                <img *ngIf="City_to == false" id="size_i2" src="assets\images\sample.png"> 
                <img *ngIf="City_to == true" id="size_i1" src="assets\images\sample.png">


            </div>
            <div class="card">

                <form (ngSubmit)="onSubmit()">

                    <div [formGroup]="bookingForm">
                        <div class="ip">
                            <div class="sip">
                                <input id="name" type="text" placeholder="Enter Your Name" formControlName="Cus_name" />
                            </div>
                            <div *ngIf="submitted && name.errors" class="col">
                                <h5 *ngIf="name.errors?.required">
                                    *Required
                                </h5>
                            </div>
                            <div *ngIf="name.errors" class="col">
                                <h5 *ngIf="name.touched && name.errors?.required">
                                    *Required
                                </h5>
                                <h5 *ngIf="name.touched && name.errors?.minlength">
                                    Mimumun 2 char
                                </h5>
                            </div>
                        </div>

                        <div class="ip">
                            <div class="sip">
                                <input id="number" type="number" placeholder="Enter Your Mobile Number"
                                    formControlName="Cus_number" />
                            </div>
                            <div *ngIf="submitted && num.errors" class="col">
                                <h5 *ngIf="num.errors?.required">
                                    *Required
                                </h5>
                            </div>
                            <div *ngIf="num.errors" class="col">
                                <h5 *ngIf="num.touched && num.errors?.required">
                                    *Required
                                </h5>
                                <h5 *ngIf="num.touched && num.errors?.pattern">
                                    Enter 10 numbers
                                </h5>
                            </div>
                        </div>

                        <!-- <div class="ip">
                            <div class="sip">
                                <input id="weight" name="weight" type="number" placeholder="Package Weight(approximate)"
                                    formControlName="Package_weight" min="1" max="999" />
                            </div>
                            <div *ngIf="submitted && weight.errors" class="col">
                                <h5 *ngIf="weight.errors?.required">
                                    *Required
                                </h5>
                            </div>
                            <div *ngIf="weight.errors" class="col">
                                <h5 *ngIf="weight.touched && weight.errors?.required">
                                    *Required
                                </h5>
                                <h5 *ngIf="weight.touched && weight.errors?.pattern">
                                    Enter valid weight
                                </h5>
                            </div>
                        </div> -->


                        <select formControlName="Product_shipping" id="Vehi_type">
                            <option [ngValue]="null" selected disabled hidden>Please select Product category</option>
                            <option *ngFor="let p of Products " [value]=p>{{p}} </option>

                        </select>

                        <select formControlName="Vehicle_type" id="Vehi_type">
                            <option [ngValue]="null" selected disabled hidden>Please select Vehicle Type</option>
                            <option *ngFor="let vehi of vechile " [value]=vehi.vechile_name>{{vehi.vechile_name}} --(
                                base price: {{vehi.base_price}} -- Additional {{vehi.add_price}} /KM ) </option>

                        </select>


                        <input type="radio" formControlName="coption" value="Within" (change)="within($event)">With in
                        City 
                        <input type="radio" formControlName="coption" value="outside" (change)="within($event)">Outside
                        the city


                        <div class="ip">
                            <div class="sip">
                                <input id="From" name="from" type="text" placeholder="Moving From"
                                    formControlName="From_door_and_address" />
                            </div>
                            <div *ngIf="submitted && from.errors" class="col">
                                <h5 *ngIf="from.errors?.required">
                                    *Required
                                </h5>
                            </div>
                            <div *ngIf="from.errors" class="col">
                                <h5 *ngIf="from.touched && from.errors?.required">
                                    *Required
                                </h5>
                                <h5 *ngIf="from.touched && from.errors?.pattern">
                                    Enter valid address
                                </h5>
                            </div>
                        </div>



                        <select formControlName="From_state" id="from_city" (change)="Fcities()">
                            <option [ngValue]="null" selected disabled hidden>Choose your State from</option>
                            <option *ngFor="let x of countries" value="{{x.isoCode}}">{{x.name}}</option>
                        </select>

                        <select  id="from_city" (change)="Flatlon($event)">
                            <option [ngValue]="null" selected disabled hidden>Choose your city From</option>
                            <option *ngFor="let x of Fcity" value="{{x.latitude}},{{x.longitude}},{{x.name}}">{{x.name}}</option>
                        </select>
                        
                                             



        <div class="ip">
            <div class="sip">
                <input id="to" name="to" type="text" placeholder="Moving To" formControlName="To_door_and_address" />
            </div>
            <div *ngIf="submitted && to.errors" class="col">
                <h5 *ngIf="to.errors?.required">
                    *Required
                </h5>
            </div>
            <div *ngIf="to.errors" class="col">
                <h5 *ngIf="to.touched && to.errors?.required">
                    *Required
                </h5>
                <h5 *ngIf="to.touched && to.errors?.pattern">
                    Enter valid address
                </h5>
            </div>
        </div>

                        <div *ngIf="City_to">
                            
                            <select formControlName="To_state" id="to_city" (change)="Tcities()">
                                <option [ngValue]="null" selected disabled hidden>Choose your State To</option>
                                <option *ngFor="let x of countries" value="{{x.isoCode}}">{{x.name}}</option>
                            </select>

                            <select formControlName="To_city" id="to_city" (change)="Tlatlon($event)">
                                <option [ngValue]="null" selected disabled hidden>Choose your city To</option>
                                <option *ngFor="let x of Tcity" value="{{x.latitude}},{{x.longitude}},{{x.name}}">{{x.name}}
                                </option>
                            </select>
                        </div>





                        <input type="Date" id="date" name="enter you date" placeholder="entr ur date"
                            formControlName="Date" />

                        <button type="submit"  class="booking1" >BOOK NOW</button>

                    </div>
                </form>
               
                <!-- <button [disabled]="!bookingForm.valid" (click)="consult()" class="booking">CONSULTWITH US</button> -->

                

            </div>
            <div>
                <div class="booking2">
                    <a routerLink="/Quote">Quote</a>
                </div>
             </div>
            
        </div>
        
    </section>
</body>