
<div class="Heading">
    <h1 class="title">SERVICES</h1>
</div>
<div class="container ">
    <!-- <div fxLayoutAlign="center"> -->
        <div class="scontainer">
        <div class="box">
            <div class="imgBox">
                <img src="/assets/images/img1.jpg" alt="img1">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Logistics Services</h2>
                    <p>The standard chunk of Lorem
                        Ipsum used since the 1500s is reproduced below for those interested.
                        Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="/assets/images/img2.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Packing and Moving</h2>
                    <p>The standard chunk of Lorem
                        Ipsum used since the 1500s is reproduced below for those interested.
                        Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="/assets/images/img3.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>House/Office Shifting</h2>
                    <p>The standard chunk of Lorem
                        Ipsum used since the 1500s is reproduced below for those interested.
                        Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"</p>
                </div>
            </div>
        </div>
    </div>
    <div class="scontainer">
        <div class="box">
            <div class="imgBox">
                <img src="/assets/images/img4.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Door to Door Sevice</h2>
                    <p>The standard chunk of Lorem
                        Ipsum used since the 1500s is reproduced below for those interested.
                        Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="/assets/images/img5.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Transport Service</h2>
                    <p>The standard chunk of Lorem
                        Ipsum used since the 1500s is reproduced below for those interested.
                        Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBox">
                <img src="/assets/images/img6.jpg" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Warehouse Service</h2>
                    <p>The standard chunk of Lorem
                        Ipsum used since the 1500s is reproduced below for those interested.
                        Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum"</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">

    <div class="Heading">
        <h1 class="title">PRICING DETAILS</h1>
    </div>

    <div class="cards_wrap">
        <div class="card_item">
            <div class="card_inner">
                <img src="../../assets/images/auto.jpg">
                <div class="role_name">Auto</div>
                <div class="real_name">Base Price : 1000</div>
                <div class="real_name">Additional Price : 20/Km</div>

            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="../../assets/images/HeavyVehicle.jpg">
                <div class="role_name">Heavy Vehicle</div>
                <div class="real_name">Base Price : 3500</div>
                <div class="real_name">Additional Price : 60/Km</div>

            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="../../assets/images/Lorry.jpeg">
                <div class="role_name">Lorry</div>
                <div class="real_name">Base Price : 3000</div>
                <div class="real_name">Additional Price : 50/Km</div>

            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="../../assets/images/miniVan.jpg">
                <div class="role_name">Mini Van</div>
                <div class="real_name">Base Price : 1500</div>
                <div class="real_name">Additional Price : 30/Km</div>

            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="../../assets/images/Tempo.png">
                <div class="role_name">Tempo</div>
                <div class="real_name">Base Price : 2500</div>
                <div class="real_name">Additional Price : 35/Km</div>

            </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
                <img src="../../assets/images/Truck.png">
                <div class="role_name">Truck</div>
                <div class="real_name">Base Price : 2000</div>
                <div class="real_name">Additional Price : 45/Km</div>

            </div>
        </div>

    </div>
</div>

<div class="Heading">
    <h1 class="title">ACHIEVEMENTS</h1>
</div>
<div class="counter">
    <div class="content">
        <div class="box">
            <div class="icon"><img src="/assets/images/icon1.png" alt=""></div>
            <div class="count">{{projectCount}}</div>
            <div class="text">Projects Completed</div>
        </div>
        <div class="box">
            <div class="icon"><img src="/assets/images/icon2.png" alt=""></div>
            <div class="count">{{workingHoursCount}}</div>
            <div class="text">Working Hours</div>
        </div>
        <div class="box">
            <div class="icon"><img src="/assets/images/icon3.png" alt=""></div>
            <div class="count">{{awardsCount}}</div>
            <div class="text">Awards Received</div>
        </div>
        <div class="box">
            <div class="icon"><img src="/assets/images/icon4.png" alt=""></div>
            <div class="count">{{happyClientCount}}</div>
            <div class="text">Happy Clients</div>
        </div>
    </div>
</div>