*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

.wrapper{
    padding-top: 70px;
}

.Heading .title{
	position:relative;
    top:30px;
	text-align:center;
	font-size:30px;
	font-weight:500;
	margin-bottom:60px;
	padding-bottom:20px;
	font-family:sans-serif;
}
.Heading .title::before{
	content:"";
	position:absolute;
	bottom:0px;
	left:50%;
	width:200px;
	height:3px;
	background:skyblue;
	transform:translateX(-50%);
}

.container{
    padding: 50px;
    width:100%;
}
.scontainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* .container{
    width: 1300px;
    position: relative;
    top:30px;
    left:170px;
    display: inline-block;
    text-align: center;
    align-items: center;
} */

.container .box
{
    background-color: thistle;
    width: 300px;
    height: 400px;
    border-radius: 7px;box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);

    margin: 20px;
    display: inline-block
}

.container .box .imgBox{
    border-radius: 7px;box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);

    position: relative;
    overflow: hidden;
    
}

.container .box .imgBox img{
    max-width: 100%;
    height: 400px;
    transition: transform 2s;
    border-radius: 7px;box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);


}
.container .box:hover .imgBox img{
    transform: scale(1.2);
    border-radius: 7px;box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);


}
.container .box .details{
    position: relative;
    top:-400px;
    bottom:10px;
    width: 300px;
    height: 400px;
    color: seashell;
    background:rgba(0, 0, 0, 0.6) ;
    transform: scaleY(0);
    transition: transform .6s;
    border-radius: 7px;box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);


    /* z-index: 1; */
}
.container .box:hover .details{
    transform: scaleY(1);

}
.container .box .details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;

}
.container .box .details .content h2{
    margin: 0;
    padding: 0;
    font-size: 25px;
    color:rgb(207, 239, 248);
    border-bottom:2px  thin cornsilk;
}
.container .box .details .content p{
    margin: 10px 0 0;
    padding: 0;
    
}

@media(max-width:770px)
{
    *{
        margin: 0px;
        padding: 0px;
    }
    .container{
        display: inline;
        left:0px;
        top:100px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }
    .Heading{
        position: relative;
        top:70px;
        width: 350px;
    }
}

.cards_wrap{
    margin-top: 50px;
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.cards_wrap .card_item{
	padding: 15px 25px;
	width: 30%;
	
}

.cards_wrap .card_inner{
	background: #eeeff4;
	border-radius: 5px;
	padding: 35px 20px;
	min-width: 225px;
	min-height: 250px;
	max-height: 350px;
	width: 100%;
	text-align: center;
}

.cards_wrap .card_item img{
	width: 100px;
	height: 100px;
	margin-bottom: 5px;
	border-radius: 45px;
}

.cards_wrap .card_item .role_name{
	color:rgb(40, 40, 182);
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	padding: 10px;
}



@media screen and (max-width: 1024px){
	.cards_wrap .card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.cards_wrap .card_item{
		width: 50%;
	}
	.wrapper .header{
		font-size: 16px;
		height: 60px;
	}
}

@media screen and (max-width: 568px){
	.cards_wrap .card_item{
		width: 100%;
	}
	.wrapper .header{
		font-size: 14px;
	}
}

.counter{
    min-height: 50vh;
    align-items: center;
    display: flex;
    padding: 0 50px;
    padding-top: 50px;
}  
.counter .content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: space-around;
}
.counter .content .box{
    width: calc(23%);
    border: 1px ;
    border-radius: 5px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background:skyblue;
    box-shadow: 0px 0px 19px 5px rgba(17, 17, 17, 0.425);


}
.counter .content .box img
{
    width: 50px;
    height: 50px;
}
.counter .content .box .count{
    font-size: 50px;
    font-weight: 200px;
}
.counter .content .box .text{
    font-size: 25px;
    font-weight: 400;
}
@media (max-width: 1036px){
    .counter{
        padding: 50px 50px 0 50px;
        padding-top: 50px;
        margin-top: 50px;
    } 
    .counter .content .box{
        width: calc(50% - 30px);
        margin-bottom: 50px;
        padding-top: 50px;
        flex-wrap: wrap ;
    } 
}
@media (max-width: 500px){
    /* .counter{
        padding-top: 100px;

    }  */
    .counter .content .box{
        width:100%;
        border-radius: 7px;
        box-shadow: 0px 0px 19px 5px rgba(20, 20, 20, 0.479);

    } 
    .counter .content .box .count{
        font-size: 30px;
        font-weight: 100px;
    }
    .counter .content .box .text{
        font-size: 15px;
        font-weight: 300;
    }
} 