<div class="container">
    <div class="slider">
        <div class="slide slide1">
            <div class="caption">
                <h1>7Packers & Movers</h1>
                <p>We handle items with care. Our Services are safe & secure.</p>
            </div>
        </div>
        <div class="slide slide2">
            <div class="caption">
                <h1>All Inida shifting</h1>
                <p>For the past 20+years, We provide shifting solutions all over India.</p>
            </div>
        </div>
        <div class="slide slide3">
            <div class="caption">
                <h1>Local Moving</h1>
                <p>We are trustworthy logistics & packers and movers. </p>
            </div>
        </div>
 
        <div class="slide slide4">
            <div class="caption">
                <h1>24/7 Customer Support</h1>
                <p> Our shifting & moving experts help you and solve ur queries through online support.</p>
            </div>
        </div>
 
          </div>
 </div>
 
 
