*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:  sans-serif;
}





.bgc{
    background: white;
    width: auto ;
}

/*heading*/
.space{
    margin-top: 60px;
}
#top{
    font-size: 4em;
    text-align: center;
}
/*sec-1*/
.booking img{
    width: 500px;
    height:auto;
}
.card {
    border-radius: 80px;
    text-align: center;
    font-size: 16px;
    height: auto;
    margin: 20px;
    display: inline-block;
    width: 400px;
    
}
#quote_main {
    text-align: center;
    
}
#textfield,#name,#number,#mail,#weight,#Vehi_type,#From,#from_city,#to,#to_city,#kilo,#y,#kilometer,#date{
    display: block;
    margin-bottom: 3em;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 3px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
#insurance{
    display: inline-block;
}
p{
    display: block;
    margin-bottom: 3em;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
.booking li{
    list-style-type: none;
    display: inline-block; 
    padding:10px;
    margin-top: 40px;
}
button{
    border: none;
font-size: 16px;
padding: 15px 30px;
margin: 20px auto 0;
color: #fff;
background: #4cb1ff;
border-color: #4cb1ff;
display: inline-block;
font-weight: 400;
text-align: center;
vertical-align: middle;
cursor: pointer;

user-select: none;
border: 1px solid transparent;
border-radius: 0.25rem;
}

.booking a{
    text-decoration: none;
    padding: 0.5em 1em;
    background-color: lightblue;
    font-size: 2em;
    color: black;
}
.booking a:hover{
    background-color: rgba(167, 164, 164, 0.5);
}
#size_i{
    width: 100%;
    height: 80vh;
    border-bottom: 0px;
}
#new_one{
    width: 300px;
    height: 300px;
}

.col h5{
    color: red;
    padding-top: 20px;
    padding-left: 10px;
    /* display: inline-block; */
  }

  .ip{
      display: flex;
  }
  .sip{
      width: 100%;
  }
.shadow{
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

@media screen and (max-width: 770px){
    .col h5{
        padding-top: 0px;
    }
    .ip{
        display: block;
    }
    .sip{
        width: 100%;
    }
    .banner-text h1{
        font-size: 44px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
    /*heading*/
    .space{
        margin-top: 68px;
        margin-bottom: 0px;
    }
    #top{
        font-size: 1.5em;
    }
    /*main-sec/secion-1*/
    .card {
        border-radius: 80px;
        text-align: center;
        font-size: 16px;
        height: auto;
        margin-left: 35px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        display: block;
        width: 80%;
        
    }
    #size_i{
        width: 170px;
        height: 100px;
    }
    .booking li{
        list-style-type: none;
        display: block; 
        padding:0px;
        margin-bottom: 2em;
        margin-right: 0px;
    }
    .booking a{
        text-decoration: none;
        padding: 0.5em 1em;
        background-color: lightblue;
        font-size: 1em;
        color: black;
        margin-right: 0px;
    }
    .booking a:hover{
        background-color: rgba(167, 164, 164, 0.5);
    }
  
}

/*Erranomous*/
input.ng-touched.ng-invalid{
    border:2px solid red;
  }


  