 
 <section class="dummy">
    <app-slider></app-slider>
 </section>
 
 <div class="whatsapp">
    <a href="https://api.whatsapp.com/send?phone=9791170889" target="_blank">
        <h5><i class="fab fa-whatsapp"></i></h5>
    </a>
 </div>
 
 <div class="phone">
    <a href="tel:9791170889" target="_blank">
        <h5><i class="fa fa-phone"></i></h5>
    </a>
 </div>
 
 
 <section class="about" id="about">
    <div class="max-width">
       <h2 class="title">ABOUT US</h2>
       <div class="about-content">
          <div class="column left">
             <img src="assets/images/about.gif" alt="">
          </div>
          <div class="column right">
             <div class="text"><span>7PACKERS & MOVERS</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                   essentially unchanged.
                   It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                   and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                   Ipsum.</p>
                <a href="service.html"><i class="fa fa-truck"></i>&nbsp;Read More</a>
             </div>
          </div>
       </div>
    </div>
 
 
 
    <div class="book">
       <a href="/Booknow">BOOK NOW</a>
    </div>
    <div class="track">
       <a href="/Tracking">TRACKING</a>
    </div>
 </section>